 <table cellpadding="2" cellspacing="0" border="0" width="750">
<tr>
<td width="0%">
  <font size="6">Phil @ <a href="http://jensen.org.nz/" style="text-decoration: none"><font color="red">jensen.org.nz</font></a>
</td><td align="right" nowrap><font face="arial" size="2">
  <a href="http://jensen.org.nz/">Front</a> |
  <a href="http://jensen.org.nz/Photos/">Photos</a> |
  <a href="http://jensen.org.nz/Throwing/">Throwing</a> |
  <a href="http://jensen.org.nz/Weights/">Weights</a> |
  <a href="http://jensen.org.nz/Computing/">Computing</a>
  </font><br>
  <hr size="1" noshade>
</td>
</tr>
</table>
